.App {
  text-align: center;
}

.App img{
	width:300px;
}

nav li{
	list-style: none;
}

nav a{
	text-decoration: none;
}

.flex-column{
	display:flex;
	flex-direction: column;
	align-items: center;	
}

.flex{
  display:flex;
  justify-content: center;
  text-align: center;
}