.App {
	text-align: center;
}

.flex-column img {
	width:600px;
}

nav li{
	list-style: none;
}
nav {
	margin-top: 10px;
	background-color: white;
	border-radius: 25px;
	border: 2px solid goldenrod;
	justify-content: center;
}

nav a {
	text-decoration: none;
}

#nav-title{
	color: #daa520;
	font-size: 40px;
	justify-content: center;
}

#label-nav {
	font-size: 20px;
	padding: 10px;
}

form {
	padding: 10px;
}

input {
	margin: 5px;
	height: 25px;
}

#button-create-recipe {
	font-size: 15px;
	color: goldenrod;
	border-color: goldenrod;
	height: 50px;
	border-radius: 25px;
}

#button-back {
	font-size: 15px;
	color: goldenrod;
	border-color: goldenrod;
	border-radius: 25px;
	height: 50px;
	width: 90px;
	padding-top: 15px;
	padding-bottom: 30px;
	margin: 15px;
	align-items: stretch;
}

#button-login {
	font-size: 15px;
	color: goldenrod;
	border-color: goldenrod;
	border-radius: 25px;
	height: 50px;
	width: 90px;
	padding-top: 15px;
	padding-bottom: 30px;
	margin: 20px;
	align-items: stretch;
}

#button-logout {
	font-size: 15px;
	color: goldenrod;
	border-color: goldenrod;
	border-radius: 25px;
	height: 50px;
	padding: 15px;
	margin: 20px;
	align-items: stretch;
}

#button-signup {
	font-size: 15px;
	color: goldenrod;
	border-color: goldenrod;
	border-radius: 25px;
	height: 50px;
	padding: 15px;
	margin: 20px;
	align-items: stretch;
}

#button-submit {
	font-size: 20px;
	margin-top: 5px;
	
}

.flex-column{
	display:flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.flex{
	display:flex;
	justify-content: center;
	text-align: center;
}

.flex-row{
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: center;
}

.home-recipe-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;  
	padding:20px;
}

.recipe-img img{
	width: 200px;
	height: 200px;
	padding: 15px;
	border-radius: 25px;
}

.recipe-display {
	display: grid;
	width: 700px;
	grid-template-columns: 50% 50%;
	grid-gap: 15px;
	grid-template-rows: 50% 50%;
  	grid-template-areas: 
		"ingredients directions";
	background-color: goldenrod;
	border: 2px solid black;
	border-radius: 25px;
}

.recipe-name-display {
	width: 400px;
	height: 150px;
	border: 2px solid black;
	border-radius: 25px;
	background-color: white;
	text-align: center;
	margin: 10px;
}

.recipe-ingredients {
	grid-area: ingredients;
	padding-left: 20px;
}

.recipe-directions {
	grid-area: directions;
	padding-right: 20px;
	word-wrap: break-word;
}
.recipe-list-center {
	display:inline-flex;
	flex-direction:column;
}
.recipe-list-name {
	font-size: 15px;
	background-color: white;
	border: 2px solid black;
	max-width: 100px;
	min-width: 50px;
	padding:0 30px;
	margin:0 auto;
	align-items: center;
	text-align: center;
	border-radius: 25px;
}

.create-display {
	display: flex;
	width: 700px;
	background-color: goldenrod;
	border-radius: 25px;
	
}
.create-container {
	display: flex;
	justify-content: center;
	padding: 10px;
	justify-content:center;
}

#img-create {
	width: 100px;
	height: 100px;
}

#input-directions {
	height: 50px;
}

.create-1 {
	width: 50%;
}

#center {
	text-align: center;
}

.edit-display {
	width: 700px;
	background-color: goldenrod;
	border-radius: 25px;
}

.signup-display {
	width: 700px;
	height: 475px;
	background-color: goldenrod;
	border-radius: 25px;
}

.login-display {
	width: 700px;
	height: 400px;
	background-color: goldenrod;
	border-radius: 25px;
}

label {
	font-size: 20px;
	padding: 10px;
}